@model Kinoteka.Models.Director

@{
	ViewBag.Title = "Details";
}

<h2>Discover Movies directed by @Model.name</h2>

<div>

	<hr />
	<table class="table" id="shows">
		<thead>
			<tr>

				<th>
					Image
				</th>
				<th>
					Title
				</th>
				<th>
					Release date
				</th>
				<th>
					Rating
				</th>
				<th></th>
			</tr>
		</thead>

		<tbody>

			@foreach (var item in Model.shows)
			{
				<tr>
					<td>
						<img src="@item.image" style="max-width:200px">
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.released_date)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.rating)
					</td>
					<td>
						@Html.ActionLink("Watch Now", "Details", "Shows", new { id = item.id }, null)
					</td>
				</tr>
			}
		</tbody>

	</table>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
	@Html.ActionLink("Back to Directors List", "Index")
</p>


@section scripts{
	<script>
        var table = $("#shows").DataTable();
    </script>
}