@model IEnumerable<Kinoteka.Models.Show>

@{
				/**/

				ViewBag.Title = "Index";
}

<h2>Shows Available</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="shows">
	<thead>
		<tr>

			<th>
				@Html.DisplayNameFor(model => model.image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.released_date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.rating)
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					<img src="@item.image" style="max-width:200px">
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.released_date)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.rating)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
					@Html.ActionLink("See More", "Details", new { id = item.id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.id })
				</td>
			</tr>
		}
	</tbody>

</table>


@section scripts{
	<script>
        $(document).on("ready", function () {
            var table = $("#shows").DataTable();
            $(".js-delete").on("click", function () {
                alert("Raboti click");
                var button = $(this);
                $.ajax({
                    //druga opcija:
                    url: "/Albums/Delete/" + button.attr("data-album-id"),
                    method: "GET",
                    success: function () {
                        table.row(button.parents("tr")).remove().draw();
                    }
                });
            });
        });

	</script>
}
