@model IEnumerable<Kinoteka.Models.Show>

@{
				/**/

				ViewBag.Title = "Index";
}

<h2>Shows Available</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="shows">
	<thead>
		<tr>

			<th>
				@Html.DisplayNameFor(model => model.image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.released_date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.rating)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.directors)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.cast)
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>

		@foreach (var item in Model)
		{
		<tr>
			<td>
				<img src="@item.image" style="max-width:200px">
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.released_date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.rating)
			</td>
			<td>
				<ul style="list-style-type: none;">
					@foreach (var director in item.directors)
					{
						<li><a href="/Directors/Details/@director.id">@director.name</a></li>
					}
				</ul>
			</td>
			<td>
				<ul style="list-style-type: none;">
					@foreach (var actor in item.cast)
					{
						<li><a href="/Actors/Details/@actor.id">@actor.name</a></li>
					}
				</ul>
			</td>
			<td>
				@if (User.IsInRole("Administrator"))
				{
					@Html.ActionLink("Edit", "Edit", new { id = item.id })
				} |
				@Html.ActionLink("See More", "Details", new { id = item.id }) |
				@if (User.IsInRole("Administrator"))
				{
					<a class="btn-link js-delete" data-id="@item.id">Delete</a>
				}
			</td>
		</tr>
		}
	</tbody>

</table>


@section scripts{
    <script>
        var table = $("#shows").DataTable();
        $("#shows .js-delete").click(function () {
            var button = $(this);
            bootbox.confirm("Are you sure you want to delete this movie?",
                function (result) {
                    if (result) {
                        $.ajax({
                            method: "GET",
                            url: "/Shows/Delete/" + button.attr("data-id"),
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
        })
 
    </script>
}
