@model Kinoteka.Models.Actor

@{
	ViewBag.Title = "Details";
}

<h2>Discover more @Model.name  Movies</h2>

<div>
	<hr />
	<table class="table" id="shows">
		<thead>
			<tr>

				<th>
					Image
				</th>
				<th>
					Title
				</th>
				<th>
					Release date
				</th>
				<th>
					Rating
				</th>
				<th></th>
			</tr>
		</thead>

		<tbody>

			@foreach (var item in Model.shows)
			{
				<tr>
					<td>
						<img src="@item.image" style="max-width:200px">
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.released_date)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.rating)
					</td>
					<td>
						@Html.ActionLink("Watch Now", "Details", "Shows", new { id = item.id }, null)
					</td>
				</tr>
			}
		</tbody>

	</table>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
	@Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
	<script>
		var table = $("#shows").DataTable();
		$("#shows .js-delete").click(function () {
			var button = $(this);
			bootbox.confirm("Are you sure you want to delete this movie?",
				function (result) {
					if (result) {
						$.ajax({
							method: "GET",
							url: "/Shows/Delete/" + button.attr("data-id"),
							success: function () {
								table.row(button.parents("tr")).remove().draw();
							}
						});
					}
				})
		})

	</script>
}